## Requirements for local development

# Package deps from setup.py
-e .

# Tests
pytest
factory_boy
codecov
coverage
pytest-blockage
pytest-cov
pytest-warnings
tox

# Docs
sphinx
sphinx-autobuild
recommonmark

# Some datetime magic
arrow
freezegun

# Django support
django>=1.8,<2.1
pytest-django
