## Requirements for local development

# Package deps from setup.py
-e .

# Tests
pytest
factory_boy
codecov
coverage
pytest-cov
pytest-warnings

# Docs
sphinx
sphinx-autobuild
recommonmark

# Some datetime magic
arrow
freezegun
