<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="UTF-8" />
        <title>$fullname</title>
    </head>
<body>
    <div id='content'>
        <h1>$fullname</h1>
        <div id='content_inner'>
            <div class='entity_profile vcard author' id='i'>
                <h2>User profile</h2>
                <dl class="entity_uid">
                    <dt>Uid</dt>
                    <dd>
                        <span class="uid">$guid</span>
                    </dd>
                </dl>
                <dl class='entity_nickname'>
                    <dt>Nickname</dt>
                    <dd>
                        <span class="nickname">$username</span>
                    </dd>
                </dl>
                <dl class='entity_first_name'>
                    <dt>First name</dt>
                    <dd>
                        <span class='given_name'>$firstname</span>
                    </dd>
                </dl>
                <dl class='entity_family_name'>
                    <dt>Family name</dt>
                    <dd>
                        <span class='family_name'>$lastname</span>
                    </dd>
                </dl>
                <dl class='entity_full_name'>
                    <dt>Full name</dt>
                    <dd>
                        <span class='fn'>$fullname</span>
                    </dd>
                </dl>
                <dl class='entity_url'>
                    <dt>URL</dt>
                    <dd>
                        <a class='url' href='$hostname' id='pod_location' rel='me'>$hostname</a>
                    </dd>
                </dl>
                <dl class='entity_photo'>
                    <dt>Photo</dt>
                    <dd>
                        <img class='photo avatar' height='300px' src='$photo300' width='300px'>
                    </dd>
                </dl>
                <dl class='entity_photo_medium'>
                    <dt>Photo</dt>
                    <dd>
                        <img class='photo avatar' height='100px' src='$photo100' width='100px'>
                    </dd>
                </dl>
                <dl class='entity_photo_small'>
                    <dt>Photo</dt>
                    <dd>
                        <img class='photo avatar' height='50px' src='$photo50' width='50px'>
                    </dd>
                </dl>
                <dl class='entity_searchable'>
                    <dt>Searchable</dt>
                    <dd>
                        <span class='searchable'>$searchable</span>
                    </dd>
                </dl>
                <dl class="entity_key">
                    <dt>Key</dt>
                    <dd>
                        <pre class="key">$public_key
</pre>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</body>
